.the-footer {
  width: 100%;
  height: 180px;
  background: #2c323b;
  color: #b1b3b9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.the-footer p {
  height: 30px;
}
